<div class="container">
    <br>
    <h1>EVENTOS</h1>
    <hr>
    <br>
    <div class=" col-md-12">
        <div class="row g-3 needs-validation">
            <div class="col-md-8">
                <a class="btn btn-success btn2" href="/eventos/add" title="Crear">
                    <i class="fa fa-plus"> Crear</i></a>
            </div>
        </div>
    </div>
    <br>
    <div class="table-responsive">
        <table class="table table-primary  table-hover table-hovertable-striped table-class table-bordered border-light"
            id="table-id">

            <thead class="table-dark">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Lugar</th>
                    <th>Precio</th>
                    <th>Fecha</th>
                    <th>Hora Inicio</th>
                    <th>Hora Final</th>
                    <th>Detalles</th>
                    <th>Editar</th>
                    <th>Eliminar</th>
                </tr>
            </thead>
            <tbody>
                {{#each eventos }}
                <tr>
                    <td>{{id}}</td>

                    <td>{{nombre}}</td>

                    <td>{{lugar}}</td>

                    <td>{{precio}}</td>

                    <td>{{fecha}}</td>

                    <td>{{horaInicio}}</td>

                    <td>{{horaFinal}}</td>

                    <td>
                        <a href="/eventos/detalles/{{id}}" title="Detalles"> <i class="fas fa-pencil-alt" title="Detalles" style="color: #0A1251;  "
                                aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <a href="/eventos/edit/{{id}}" title="Editar"> <i class="fas fa-pencil-alt" title="Editar"
                                style="color: #0A1251;" aria-hidden="true"></i></a>
                    </td>
                    <td>
                        <a onclick="document.getElementById('{{id}}').style.display='block'" title="Eliminar">
                            <i class="fas fa-trash-alt" title="Eliminar" style="color: #f80000;  "
                                aria-hidden="true"></i></a>
                    </td>
                </tr>
                {{else}}
                <th></th>
                <th>Aún no se han agregado datos.</th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>