<br>
<div class="container">
    <div class="row g-3 needs-validation">
        <div class="col-md-8 mx-auto" style="width: 500%; ">
            <div class="box">

                <div class="card-header  border-success">
                    <div class="row g-3 needs-validation">
                        <div class="col-md-2">
                            <a href="/Stands/StandsAdmin" title="Hacer clic para volver"><i
                                    class="fas fa-arrow-circle-left fa-2x" style="color: #ffffff;"></i></a>
                        </div>
                        <div class="text-center col-md-8">
                            <h2 style="color: aliceblue;">{{casafarmaceutica.nombre}}</h2>
                        </div>
                    </div>
                </div>


                <div class="card-body col-md-12">


                    <form action="/Stands/casaimagen1" method="POST" enctype="multipart/form-data">

                        <head>
                            <meta charset="utf-8">
                            <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
                        </head>

                        <body>
                            <input type="text" value="{{casafarmaceuticaimagenes.id}}" name="id" readonly hidden>
                            <br>

                            <div class="form-group col-md-12">
                                <label for="validationServer03">Seleccione imagen 1 de 700x700 px</label>
                                <input type="file" class="form-control" name="archivo" id="archivo">

                            </div>
                            <br>
                            <div class="card-footer bg-transparent " class="observaciones"> <button
                                    class="btn btn-success ">
                                    Guardar
                                </button>
                            </div>
                    </form>


                    <form action="/Stands/casaimagen2" method="POST" enctype="multipart/form-data">

                        <head>
                            <meta charset="utf-8">
                            <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
                        </head>

                        <body>
                            <input type="text" value="{{casafarmaceuticaimagenes.id}}" name="id" readonly hidden>
                            <br>

                            <div class="form-group col-md-12">
                                <label for="validationServer03">Seleccione imagen 2 de 700x700 px </label>
                                <input type="file" class="form-control" name="archivo" id="archivo">

                            </div>
                            <br>
                            <div class="card-footer bg-transparent " class="observaciones"> <button
                                    class="btn btn-success ">
                                    Guardar
                                </button>
                            </div>
                    </form>

                    <form action="/Stands/casaimagen3" method="POST" enctype="multipart/form-data">

                        <head>
                            <meta charset="utf-8">
                            <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
                        </head>

                        <body>
                            <input type="text" value="{{casafarmaceuticaimagenes.id}}" name="id" readonly hidden>
                            <br>

                            <div class="form-group col-md-12">
                                <label for="validationServer03">Seleccione imagen 3 de  824x648 px </label>
                                <input type="file" class="form-control" name="archivo" id="archivo">

                            </div>
                            <br>
                            <div class="card-footer bg-transparent " class="observaciones"> <button
                                    class="btn btn-success ">
                                    Guardar
                                </button>
                            </div>
                    </form>
                    
                    <form action="/Stands/casaimagen4" method="POST" enctype="multipart/form-data">

                        <head>
                            <meta charset="utf-8">
                            <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
                        </head>

                        <body>
                            <input type="text" value="{{casafarmaceuticaimagenes.id}}" name="id" readonly hidden>
                            <br>

                            <div class="form-group col-md-12">
                                <label for="validationServer03">Seleccione imagen 4 de 824x648 px</label>
                                <input type="file" class="form-control" name="archivo" id="archivo">

                            </div>
                            <br>
                            <div class="card-footer bg-transparent " class="observaciones"> <button
                                    class="btn btn-success ">
                                    Guardar
                                </button>
                            </div>
                    </form>
                    
                    <form action="/Stands/casaimagen5" method="POST" enctype="multipart/form-data">

                        <head>
                            <meta charset="utf-8">
                            <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
                        </head>

                        <body>
                            <input type="text" value="{{casafarmaceuticaimagenes.id}}" name="id" readonly hidden>
                            <br>

                            <div class="form-group col-md-12">
                                <label for="validationServer03">Seleccione imagen 5 de 824x648 px </label>
                                <input type="file" class="form-control" name="archivo" id="archivo">

                            </div>
                            <br>
                            <div class="card-footer bg-transparent " class="observaciones"> <button
                                    class="btn btn-success ">
                                    Guardar
                                </button>
                            </div>
                    </form>
                      <form action="/Stands/casaimagen6" method="POST" enctype="multipart/form-data">

                        <head>
                            <meta charset="utf-8">
                            <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
                        </head>

                        <body>
                            <input type="text" value="{{casafarmaceuticaimagenes.id}}" name="id" readonly hidden>
                            <br>

                            <div class="form-group col-md-12">
                                <label for="validationServer03">Seleccione imagen 6 de 824x648 px</label>
                                <input type="file" class="form-control" name="archivo" id="archivo">

                            </div>
                            <br>
                            <div class="card-footer bg-transparent " class="observaciones"> <button
                                    class="btn btn-success ">
                                    Guardar
                                </button>
                            </div>
                    </form>
                      <form action="/Stands/casaimagen7" method="POST" enctype="multipart/form-data">

                        <head>
                            <meta charset="utf-8">
                            <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
                        </head>

                        <body>
                            <input type="text" value="{{casafarmaceuticaimagenes.id}}" name="id" readonly hidden>
                            <br>

                            <div class="form-group col-md-12">
                                <label for="validationServer03">Seleccione imagen 7 de  700x700 px</label>
                                <input type="file" class="form-control" name="archivo" id="archivo">

                            </div>
                            <br>
                            <div class="card-footer bg-transparent " class="observaciones"> <button
                                    class="btn btn-success ">
                                    Guardar
                                </button>
                            </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
</div>
<br>